/* Estilo para o corpo da página */
body {
    color: blue;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para a lista de navegação */
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

/* Estilo para os links de navegação */
ul li a {
    text-decoration: none;
    color: blue;
}

/* Estilo para a imagem no cabeçalho */
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo para o título principal */
header h1 {
    text-align: center;
    margin-top: 0;
}

/* Estilo para o subtítulo */
header h2 {
    text-align: center;
    margin-top: 0;
}

/* Estilo para a seção "Sobre mim" */
section {
    padding: 20px;
    text-align: justify;
}
